.pic8
{ 
	width:250px; 
	height:300px; 
	background: url('p8.jpg'); 
	background-size: 250px 300px;
} 

.text8
{ 
	width:250px; 
	height:300px; 
	background:#FFF; 
	opacity:0; 
} 

.pic8:hover .text8 
{ 
	
opacity:0.9; 
	text-align:center; 
	color:#000000; 
	font-size:20px; 
	font-weight:bold; 
	font-family:"Times New Roman", Times, serif; 
}